This is an {{ netbios }} system.

WARNING! This system is restricted to authorized users
for legitimate business purposes only. The actual or
attempted unauthorized access, use, or modification of
this system is strictly prohibited by EHE. Unauthorized
users are subject to criminal and civil penalties under
state, federal, or other applicable domestic and
foreign laws. By accessing and using this system you
are consenting to system monitoring for law enforcement
and other purposes. Unauthorized use of this computer
system may subject you to criminal prosecution and
penalties. 
