[libdefaults]
    ticket_lifetime = 24000
    default_realm = {{ ldap_domain|upper }}
    default_tgs_entypes = rc4-hmac des-cbc-md5
    default_tkt__enctypes = rc4-hmac des-cbc-md5
    permitted_enctypes = rc4-hmac des-cbc-md5
    dns_lookup_realm = true
    dns_lookup_kdc = true
    dns_fallback = yes

[realms]
{{ kerberos_realm|upper }} = {
  kdc = {{ kerberos1_fqdn }}
  kdc = {{ kerberos1_server_ip }}
  kdc = {{ kerberos2_fqdn }}
  kdc = {{ kerberos2_server_ip }}

  admin_server = {{ ldap_server_ip }}
  master_kdc = {{ kerberos1_fqdn }}
  default_domain = {{ ldap_domain|upper }}

}

[domain_realm]
    .{{ ldap_domain|lower }} = {{ ldap_domain|upper }}
    {{ ldap_domain|lower }} = {{ ldap_domain|upper }}

[appdefaults]
pam = {
   debug = false
   ticket_lifetime = 36000
   renew_lifetime = 36000
   forwardable = true
   krb4_convert = false
}

[logging]
default = FILE:/var/log/krb5libs.log
kdc = FILE:/var/log/krb5kdc.log
admin_server = FILE:/var/log/kadmind.log
