---
network:
    version: 2
    ethernets:
       {{ netplan_interface }}:
            dhcp4: true
            match:
                macaddress: {{ netplan_mac }}
            set-name: {{ netplan_interface }}
            nameservers:
              search: [{{ netplan_dns1 }}, {{ netplan_dns2 }}]
              addresses: [{{ netplan_ns1 }}, {{ netplan_ns2 }}, {{ netplan_ns3 }}]
